<!doctype html>
<html lang="es">

<head>
    <title>POS</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://kit.fontawesome.com/452988f36c.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

        <!-- * NAVBAR * -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static', filename='img/logos/MF.png')}}" width="30" alt="Logo Empresa">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('pos')}}">POS
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown" hidden>
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu">
                                <!-- <a class="dropdown-item" href="{url_for('add')}}">Agregar</a> -->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('inventory')}}">Inventario</a>
                        </li>
                    </ul>
                    <form class="d-flex visually-hidden"> <!-- Barra de busqueda oculta -->
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

    </header>

    <main>
