<!doctype html>
<html lang="es">

<head>
    <title>Create User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="resources/styles.css"> -->

    <!-- Bootstrap CSS v5.2.3 -->
    <!-- CSS only -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <!-- JavaScript Bundle with Popper -->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#myModal" id="gastronomia" data-gastronomia="Mexicana">Mi Botón
    </button>
</body>

</html>