<!doctype html>
<html lang="es">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../static/css/login.css">

    <link href="../../static/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->


            <!-- Login Form -->
            <form class="mt-2">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="contraseña">
                <input type="submit" class="btn btn-success fadeIn fourth" value="Entrar">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="btn btn-secondary underlineHover text-decoration-none" href="#">¿Olvidaste tu contraseña?</a>
            </div>

        </div>
    </div>

</body>

</html>