main {
    background-color: #222222;
}



/* * TABS * */
.tab__hour {
    font-size: small;
}

.tab__plus {
    font-size: large;
}



/* * CARDS * */
.card__description,
.card__price {
    font-size: x-small;
    letter-spacing: 1px;
}

.card__code {
    font-size: x-small;
    letter-spacing: 2px;
}

.card__stock {
    font-size: small;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed
}

.hover-overlay .mask {
    --mdb-image-hover-transition: all 0.3s ease-in-out;
    opacity: 0;
    transition: var(--mdb-image-hover-transition)
}

.hover-overlay .mask:hover {
    opacity: 1
}

.overflow__scroll {
    height: 507px;
    overflow-x: hidden;
    overflow-y: scroll;
}



/* * CARDS * */
.cart__prod>* {
    font-size: small;
}

.overflow__scroll--cart {
    height: 296px;
    overflow-x: hidden;
    overflow-y: scroll;
}



/* * CALC * */
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.payment__span {
    grid-row: span 4;
    grid-column: span 3;
}

.calculator-buttons > button {
    border-radius: 0;
}



/* * INVENTORY * */
.inventory__cont {
    font-size: 12px;
}

td#div_file {
	position:relative;
	width:45px;
}

input#formFile {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
}
