{% include 'header.html' %}

    <div class="container">
        <form action="/store" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">Agregar productos</div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="form-label mt-4" for="formType">Tipo</label>
                            <select class="form-select" name="formType" id="formType">
                                <option>Ferretería</option>
                                <option>Electricidad</option>
                                <option>Plomería</option>
                                <option>Pinturería</option>
                                <option>Herramientas</option>
                                <option>Maquinaria</option>
                            </select>
                        </div>
                        <div class="form-group col-md">
                            <label class="form-label mt-4" for="formName">Producto</label>
                            <input class="form-control" type="text" name="formName" id="formName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label class="form-label mt-4" for="formInfo">Descripción</label>
                            <input class="form-control" type="text" name="formInfo" id="formInfo" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label class="form-label mt-4" for="formStock">Cantidad</label>
                            <input class="form-control" type="number" step=".5" name="formStock" id="formStock" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="form-label mt-4" for="formCost">Costo</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input class="form-control" type="number" step=".01" name="formCost" id="formCost" required>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="form-label mt-4" for="formPrice">Precio Venta</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input class="form-control" type="number" step=".01" name="formPrice" id="formPrice" required>
                            </div>
                        </div>
                        <div class="form-group col-md">
                            <label class="form-label mt-4" for="formFile">Foto</label>
                            <input class="form-control" type="file" name="formFile" id="formFileCreate" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <input class="btn btn-outline-success mt-4" type="submit" value="Agregar">
                            <a href="{{url_for('pos')}}" class="btn btn-outline-primary mt-4 mx-3">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>

{% include 'footer.html' %}