{% include 'header.html' %}

<div class="container inventory__cont">
    <div class="card">
        <table class="table table-hover align-middle mb-0" id="table">
            <thead class="card-header">
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Tipo</th>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Costo</th>
                    <th>Precio Venta</th>
                    <th colspan="2">
                        <button type="button" class="btn btn-outline-warning btn-sm"
                            style="letter-spacing: 1.8px;">EDITAR TODO</button>
                    </th>
                </tr>
            </thead>
            <!-- <div class="col-md-12 card overflow__scroll">
                <div class="row mt-2"> -->
                    <tbody>


                        {% for product in products %}

                        <tr>
                            <form action="/update" method="post" enctype="multipart/form-data">
                                <td class="col-1">
                                    <a href="#"> <!-- Click para cambiar la imagen -->
                                        <img src="userpic/{{product[0]}}" style="width: 45px; height: 45px"
                                            class="rounded-circle" />
                                    </a>
                                </td>
                                <td class="col-1">
                                    <!-- <input class="form-control" id="readOnlyInput" type="text"
                                                placeholder="Readonly input here..." readonly=""> -->
                                    <input type="text" readonly="readonly" class="form-control-plaintext edit__input" id="staticEmail"
                                        value="{{product[1]}}">
                                </td>
                                <td class="col-1">
                                    <!-- <input class="form-control" id="readOnlyInput" type="text"
                                                placeholder="Readonly input here..." readonly=""> -->
                                    <input type="text" readonly="readonly" class="form-control-plaintext edit__input" id="staticEmail"
                                        value="{{product[2]}}">
                                </td>
                                <td class="col-2">
                                    <!-- <input class="form-control" id="readOnlyInput" type="text"
                                                placeholder="Readonly input here..." readonly=""> -->
                                    <input type="text" readonly="readonly" class="form-control-plaintext edit__input" id="staticEmail"
                                        value="{{product[3]}}">
                                </td>
                                <td class="col-4">
                                    <!-- <input class="form-control" id="readOnlyInput" type="text"
                                    placeholder="Readonly input here..." readonly=""> -->
                                    <input type="text" readonly="readonly" class="form-control-plaintext edit__input" id="staticEmail"
                                        value="{{product[4]}}">
                                </td>
                                <td class="col-1">
                                    <!-- <input class="form-control" id="readOnlyInput" type="text"
                                                placeholder="Readonly input here..." readonly=""> -->
                                    <input type="text" readonly="readonly" class="form-control-plaintext edit__input" id="staticEmail"
                                        value="{{product[5]}}">
                                </td>
                                <td class="col-1">
                                    <!-- <input class="form-control" id="readOnlyInput" type="text"
                                                placeholder="Readonly input here..." readonly=""> -->
                                    <input type="text" readonly="readonly" class="form-control-plaintext edit__input" id="staticEmail"
                                        value="{{product[6]}}">
                                </td>
                                <td class="col-1">
                                    <!-- <input class="form-control" id="readOnlyInput" type="text"
                                                placeholder="Readonly input here..." readonly=""> -->
                                    <input type="text" readonly="readonly" class="form-control-plaintext edit__input" id="staticEmail"
                                        value="{{product[7]}}">
                                </td>
                                <td class="col-1">

                                    <button  class="btn btn-outline-warning btn-sm" id="btn__edit">Editar</button> <!--onclick="readonlyOff()"-->


                                    <button type="button"
                                        class="btn btn-outline-success btn-sm visually-hidden">Aceptar</button>
                                </td>
                                <td class="col-1">
                                    <button type="button" class="btn btn-outline-danger btn-sm">Borrar</button>

                                    <!-- <a id="btn-borrar" onclick="confirm('¿Desea borrar al empleado {{product[1]}}?')" class="btn btn-danger" href="/delete/{empleado[0]}}">Borrar</a> -->


                                    <button type="button"
                                        class="btn btn-outline-danger btn-sm visually-hidden">Cancelar</button>
                                </td>
                            </form>
                        </tr>

                        {% endfor %}
                    </tbody>
                <!-- </div>
            </div> -->
        </table>
    </div>
</div>

{% include 'footer.html' %}