{% include 'header.html' %}

<div class="container inventory__cont">
    <div class="card">
        <table class="table table-hover align-middle mb-0" id="table">
            <thead class="card-header">
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Tipo</th>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Costo</th>
                    <th>Precio Venta</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <!-- <div class="col-md-12 card overflow__scroll">
                <div class="row mt-2"> -->
            <tbody>

                {% for product in products %}

                <tr>
                    <td class="col-1">
                        <img src="userpic/{{product[7]}}" style="width: 45px; height: 45px" class="rounded-circle">
                    </td>
                    <td class="col-1"><div>{{product[1][0:2].upper()}}-{{product[0]}}</div></td>
                    <td class="col-2"><div>{{product[1]}}</div></td>
                    <td class="col-1"><div>{{product[2]}}</div></td>
                    <td class="col-4"><div>{{product[3]}}</div></td>
                    <td class="col-1"><div>{{product[4]}}</div></td>
                    <td class="col-1"><div>{{product[5]}}</div></td>
                    <td class="col-1"><div>{{product[6]}}</div></td>
                    <td class="btn__confirm">
                        <a href="{{url_for('edit')}}" class="btn btn-outline-warning btn-sm" id="btn__edit"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                    <td>
                        <a type="button" onclick="confirm('¿Desea borrar {{product[2]}} - {{product[3]}}?')"
                            class="btn btn-outline-danger btn-sm btn__delete" href="/delete/{{product[0]}}"><i
                                class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
            <!-- </div>
            </div> -->
        </table>
    </div>
</div>

{% block edit %}
        
{% endblock edit %}

{% include 'footer.html' %}