<!doctype html>
<html lang="es">

<head>
    <title>POS</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="assets/css/ui.css"  type="text/css" /> -->
    <link rel="stylesheet" href="assets/css/OverlayScrollbars.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/styles.css">

    <script src="https://kit.fontawesome.com/452988f36c.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

        <!-- * NAVBAR * -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/MF.png" width="30" alt="Logo Empresa">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">POS
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Agregar</a>
                                <a class="dropdown-item" href="#">Listar</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Otros</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

    </header>

    <main>

        <!-- ========================= SECTION CONTENT ========================= -->

        <section class="section-content padding-y-sm bg-default ">
            <div class="text-center container-fluid py-1">


                <!-- * TABS * -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#prod" aria-selected="true" role="tab">
                            <span class="badge rounded-pill bg-primary mx-1">
                                <!-- Número de cliente-->
                                1
                            </span>
                            <span class="tab__hour">
                                <!-- Hora de comienzo de atención-->
                                12:15
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#add" aria-selected="false" tabindex="-1"
                            role="tab">
                            <span class="tab__plus">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade show active" id="prod" role="tabpanel">
                        <div class="mt-1 mx-2">


                            <!-- * CARDS * -->
                            <div class="row">
                                <div class="col-md-8 card overflow__scroll--prod">
                                    <div class="row mt-2">


                                        <!-- * CARD * -->
                                        <div class="col-lg-2 col-md-8 mb-4">
                                            <div class="card">
                                                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                                    data-mdb-ripple-color="light">
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                                                        class="w-100" />
                                                    <div class="mask">
                                                        <div
                                                            class="d-flex justify-content-start align-items-start h-100">
                                                            <span class="badge bg-success m-1 card__stock">
                                                                5
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="hover-overlay">
                                                        <div class="mask"
                                                            style="background-color: rgba(253, 253, 253, 0.15);">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <a href="" class="text-reset text-decoration-none">
                                                        <h5 class="card-title mb-2 card__code">
                                                            #2345567
                                                        </h5>
                                                    </a>
                                                    <a href=""
                                                        class="text-reset text-decoration-none card__description">
                                                        <p>
                                                            Tornillo negro hermoso que sirve para atornillar
                                                        </p>
                                                    </a>
                                                    <h6 class="mb-1 card__price">
                                                        $ 61.99
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- * SHOPPING CART * -->
                                <div class="col-4">
                                    <div class="card">
                                        <span id="cart">
                                            <table class="table table-hover shopping-cart-wrap">
                                                <thead class="text-muted">
                                                    <tr>
                                                        <th scope="col">Item</th>
                                                        <th scope="col" width="80">Cant</th>
                                                        <th scope="col" width="80">Precio</th>
                                                        <th scope="col" class="text-right" width="80">Borrar</th>
                                                    </tr>
                                                </thead>


                                                <!-- * LISTA DE PRODUCTOS * -->
                                                <tbody class="overflow__scroll--cart">


                                                    <!-- * PRODUCTO * -->
                                                    <tr class="cart__prod">
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-grow-0 ms-3 title text-truncate">
                                                                    Product
                                                                </div>
                                                            </div>

                                                        </td>
                                                        <td class="text-center">
                                                            <div class="m-btn-group m-btn-group--pill btn-group mr-2"
                                                                role="group" aria-label="...">
                                                                <button type="button" class="m-btn btn btn-default"><i
                                                                        class="fa fa-minus"></i></button>
                                                                <button type="button" class="m-btn btn btn-default"
                                                                    disabled>
                                                                    3
                                                                </button>
                                                                <button type="button" class="m-btn btn btn-default"><i
                                                                        class="fa fa-plus"></i></button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="price-wrap">
                                                                <var class="price">
                                                                    $145
                                                                </var>
                                                            </div> <!-- price-wrap .// -->
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="" class="btn btn-outline-danger"> <i
                                                                    class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </span>
                                    </div> <!-- card.// -->



                                    <!-- * CALC * -->
                                    <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group me-2 calculator-buttons" role="group"
                                            aria-label="First group">
                                            <button class="btn btn-secondary payment__span"><img src="assets/images/payment.png" alt="Payment" width="100" style="filter: invert();"></button>
                                            <button class="btn btn-secondary">7</button>
                                            <button class="btn btn-secondary">8</button>
                                            <button class="btn btn-secondary">9</button>
                                            <button class="btn btn-secondary">Cant</button>
                                            <button class="btn btn-secondary">4</button>
                                            <button class="btn btn-secondary">5</button>
                                            <button class="btn btn-secondary">6</button>
                                            <button class="btn btn-secondary">Desc</button>
                                            <button class="btn btn-secondary">1</button>
                                            <button class="btn btn-secondary">2</button>
                                            <button class="btn btn-secondary">3</button>
                                            <button class="btn btn-secondary">Precio</button>
                                            <button class="btn btn-secondary">+/-</button>
                                            <button class="btn btn-secondary">0</button>
                                            <button class="btn btn-secondary">.</button>
                                            <button class="btn btn-secondary">
                                                <i class="fa-solid fa-delete-left"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="add" role="tabpanel">
                        <p>
                            FUNCION AGREGAR CLIENTE
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================= SECTION CONTENT END// ======================= -->

    </main>

    <footer>
        <!-- place footer here -->
    </footer>

</body>

</html>