<div class="modal visually-hidden" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAddLabel">Agregar Artículo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/inventory/add" method="post" enctype="multipart/form-data" novalidate>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="addCategory">Categoría</label>
                                    <select class="form-select" name="addCategory" id="addCategory">

                                        {% for category in categories %}
                                            <option value="{{category.id}}">{{category.category}}</option> <!--CAMBIAR A VUE-->
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="form-group col-md">
                                    <label class="form-label mt-4" for="addName">Nombre</label>
                                    <input class="form-control" type="text" name="addName" id="addName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md">
                                    <label class="form-label mt-4" for="addInfo">Descripción</label>
                                    <input class="form-control" type="text" name="addInfo" id="addInfo" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="addStock">Cantidad</label>
                                    <input class="form-control" type="number" step=".5" name="addStock" id="addStock" value="0"
                                        required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="addCost">Costo</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input class="form-control" type="number" step=".01" name="addCost"
                                            id="addCost" value="0" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="addPrice">Precio Venta</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input class="form-control" type="number" step=".01" name="addPrice"
                                            id="addPrice" value="0" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md">
                                        <label class="form-label mt-4" for="addFile">Foto</label>
                                        <input class="form-control" type="file" name="addFile" id="addFileCreate"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" type="submit">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>