<div class="modal" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditLabel">Editar producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/inventory/edit" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="formCode">Código</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="formLetter"></span>
                                        <input class="form-control disabled" type="text" name="editCode" id="editCode"
                                            value="" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="editCategory">Categoría</label>
                                    <select class="form-select" name="editCategory" id="editCategory">

                                        {% for category in categories %}
                                            <option value="{{category.id}}">{{category.category}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="form-group col-md">
                                    <label class="form-label mt-4" for="editName">Nombre</label>
                                    <input class="form-control" type="text" name="editName" id="editName" value=""
                                        required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md">
                                    <label class="form-label mt-4" for="editInfo">Descripción</label>
                                    <input class="form-control" type="text" name="editInfo" id="editInfo" value=""
                                        required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="editStock">Cantidad</label>
                                    <input class="form-control" type="number" step=".5" name="editStock" id="editStock""
                                        required>
                                </div>
                                <div class=" form-group col-md-3">
                                    <label class="form-label mt-4" for="editCost">Costo</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input class="form-control" type="number" step=".01" name="editCost"
                                            id="editCost" value="" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label mt-4" for="editPrice">Precio Venta</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input class="form-control" type="number" step=".01" name="editPrice"
                                            id="editPrice" value="" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3" id="div_file">
                                        <label class="form-label mt-4" for="pic_file">Foto actual</label>
                                        <img src="" class="rounded img-thumbnail" alt="foto producto" id="pic_file">
                                        <input type="file" name="editFile" id="editFile">
                                    </div>
                                    <div class="form-group col-md-3" id="div_up">
                                        <label class="form-label mt-4" for="pic_up" id="pic_label">Foto nueva</label>
                                        <img src="" class="rounded img-thumbnail" alt="" id="pic_up" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-outline-success" type="submit" value="Aceptar">
            </div>
            </form>
        </div>
    </div>
</div>
