{% extends "base_template.html" %}

{% block title %}Inventario{% endblock %}

{% block content %}
<div class="container inventory__cont">
    <div class="card">
        <table class="table table-hover align-middle mb-0" id="table">
            <thead class="card-header">
                <tr>
                    <th class="col-1"></th>
                    <th class="col-1">Código</th>
                    <th class="col-1">Categoría</th>
                    <th class="col-2">Artículo</th>
                    <th class="col-4">Descripción</th>
                    <th class="col-1">Stock</th>
                    <th class="col-1">Costo</th>
                    <th class="col-1">Precio Venta</th>
                    <th class="col-1">
                        <div class="">
                            <a href="#" class="btn btn-outline-success btn-sm" id="btn__add--item"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </th>
                    <th class="col-1">
                        <div class="ratio ratio-1x1">
                            <a href="{ url_for(auth.add_item) }}" class="btn btn-outline-primary btn-sm" id="btn__add--items"><i class="fa-solid fa-file-circle-plus"></i></a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="inventory__body">

                {% for item in items %}
                <tr>
                    <td class="col-1">
                        {% if item.img_name != None %}
                        <img src="{{ url_for('media_items', filename=item.img_name) }}" style="width: 45px; height: 45px" class="rounded-circle">
                        <!-- img -->
                        {% endif %}
                    </td>
                    <td class="col-1"><div>{{item.category.category[0:3].upper()}}-{{ '%05d' % item.id }}</div></td>
                    <td class="col-1"><div>{{item.category.category.capitalize()}}</div></td>
                    <td class="col-2"><div>{{item.name.upper()}}</div></td>
                    <td class="col-4"><div>{{item.info.capitalize()}}</div></td>
                
                    {% if item.stock >= 10 %}
                        <td class="col-1"><div class="text-success">{{item.stock}}</div></td>
                    {% elif item.stock > 0 %}
                        <td class="col-1"><div class="text-warning">{{item.stock}}</div></td>
                    {% else %}
                        <td class="col-1"><div class="text-danger">SIN STOCK</div></td>
                    {% endif %}
                
                    <td class="col-1"><div>{{item.cost}}</div></td>
                    <td class="col-1"><div>{{item.price}}</div></td>
                    <td>
                        <!-- <div class="ratio ratio-1x1"> -->
                            <a href="{{ url_for('auth.edit_item', item_id=item.id) }}" class="btn btn-outline-warning btn-sm btn__edit" data-item_id="{{item.id}}" data-item_category="{{item.category.category}}" data-item_name="{{item.name}}" data-item_info="{{item.info}}" data-item_stock="{{item.stock}}" data-item_cost="{{item.cost}}" data-item_price="{{item.price}}" data-item_img="{{item.img_name}}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                        <!-- </div> -->
                    </td>
                    <td>
                        <!-- <div class="ratio ratio-1x1"> -->
                            <a type="button" onclick="if(!confirm('¿Desea borrar {{item.category.category[0:3].upper()}}-{{'%05d'%item.id}} -> {{item.name.upper()}}?')) event.preventDefault()"
                            class="btn btn-outline-danger btn-sm btn__delete" href="{{ url_for('auth.delete_item', item_id=item.id)}}"><i
                                class="fa-solid fa-trash"></i></a>
                        <!-- </div>        -->
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include 'auth/add-item.html' %}

{% include 'auth/edit-item.html' %}

{% endblock %}
