{% extends "base_template.html" %}

{% block title %}Inventario{% endblock %}

{% block content %}

<div class="container inventory__cont">
    <div class="card">
        <table class="table table-hover align-middle mb-0" id="table">
            <thead class="card-header">
                <tr>
                    <th class="col-1"></th>
                    <th class="col-1">Código</th>
                    <th class="col-1">Categoría</th>
                    <th class="col-2">Artículo</th>
                    <th class="col-4">Descripción</th>
                    <th class="col-1">Stock</th>
                    <th class="col-1">Costo</th>
                    <th class="col-1">Precio Venta</th>
                    <th class="col-1">
                        <div class="">
                            <a href="#" class="btn btn-outline-success btn-sm" id="btn__add--item"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </th>
                    <th class="col-1">
                        <div class="ratio ratio-1x1">
                            <a href="{ url_for(auth.add_item) }}" class="btn btn-outline-primary btn-sm" id="btn__add--items"><i class="fa-solid fa-file-circle-plus"></i></a>
                        </div>
                    </th>
                </tr>
            </thead>
            <div class="row">
                <div class="col-md-8 card overflow__scroll">
                    <tbody class="row mt-2" id="items_inventory"></tbody> <!--mount template items inventory-->
                </div>
            </div>
        </table>
    </div>
</div>


<!-- ===================== TEMPLATES ========================= -->

<!--TEMPLATE ITEM INVENTORY-->
<template id="template-item_inventory">
    <tr>
        <td class="col-1">
            <img loading="lazy" src="IMG" style="width: 45px; height: 45px" class="rounded-circle">
        </td>
        <td class="col-1"><div>ID</div></td>
        <td class="col-1"><div>CATEGORY</div></td>
        <td class="col-2"><div>NAME</div></td>
        <td class="col-4"><div>INFO</div></td>
        <td class="col-1"><div class="text-success">STOCK UNIT</div></td>
        <td class="col-1"><div>COST</div></td>
        <td class="col-1"><div>PRICE</div></td>
        <td>
            <!-- <div class="ratio ratio-1x1"> -->
                <a href="{{ url_for('auth.edit_item', item_id=item.id) }}" class="btn btn-outline-warning btn-sm btn__edit" data-item_id="{{item.id}}" data-item_category="{{item.category.category}}" data-item_name="{{item.name}}" data-item_info="{{item.info}}" data-item_stock="{{item.stock}}" data-item_cost="{{item.cost}}" data-item_price="{{item.price}}" data-item_img="{{item.img_name}}"><i
                class="fa-solid fa-pen-to-square"></i></a>
            <!-- </div> -->
        </td>
        <td>
            <!-- <div class="ratio ratio-1x1"> -->
                <a type="button" onclick="if(!confirm('¿Desea borrar {{item.category.category[0:3].upper()}}-{{'%05d'%item.id}} -> {{item.name.upper()}}?')) event.preventDefault()"
                class="btn btn-outline-danger btn-sm btn__delete" href="{{ url_for('auth.delete_item', item_id=item.id)}}"><i
                    class="fa-solid fa-trash"></i></a>
            <!-- </div>        -->
        </td>
    </tr>
</template>


<!-- ==================== MODALS ========================= -->

{% include 'auth/add-item.html' %}

{% include 'auth/edit-item.html' %}


<!-- ==================== SCRIPTS ====================== -->

<script>
    const array_items = JSON.parse('{{ json_items|tojson }}')
    console.log(array_items)
</script>

<script src="{{ url_for('static', filename='js/inventory.js') }}"></script>

{% endblock %}
